{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Search Users!</h1>
<br/>

<form  method=POST>
{% csrf_token %}
<input type="input" class="form-control" placeholder="search user" name="search">
<br>

<button type="submit" class="btn btn-secondary">Search User!</button>
</form>
<br>
{% if search %}
you searched for "{{search}}" <br> 

    {% if searched %}
        {% for result in searched %}
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                <div class="col-md-4">
                    {% if result.profile_image %}
                    <img src="{{ result.profile.profile_image.url }}" height="150" width="150" alt="">
                    {% else %}
                    <img src="{% static 'images/profile_pic.png' %}" height="150" width="150" alt="...">
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">{{ result.profile.user.username}}</h5>
                    <a class="card-text" href="{% url 'profile' result.profile.user.id %}" >@{{ result.profile.user.username|lower }}</a>
                    <p class="card-text"><small class="text-muted">{{result.profile.date_modified}}</small></p>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
    {% else %} 
    Not Found
{% endif %}

{% endif %}
{% endblock %}